## https://docs.microsoft.com/en-US/cli/azure/aks#az_aks_get_credentials

# az login
# az config set defaults.location=westus2 defaults.group=MyResourceGroup

# az account show
# az account set --subscription <mysubscription>
# az ad sp create-for-rbac --sdk-auth
# az account list-locations -o table

###
# export ARM_SUBSCRIPTION_ID="<azure_subscription_id>"
# export ARM_TENANT_ID="<azure_subscription_tenant_id>"
# export ARM_CLIENT_ID="<service_principal_appid>"
# export ARM_CLIENT_SECRET="<service_principal_password>"
